extends ../layout

block scripts
    link(rel='stylesheet', href='/static/css/bootstrap.min.css')
    link(rel='stylesheet', href='/static/css/styles.css')

block content
    figure.center
        figcaption= 'All Categories'
        table(class="table table-bordered")
            tr
                th Category Name
            each c in categories
                tr
                    td= c.category_name

    figure.center
        figcaption= 'Create Category'
        form(action="/categories/create" method="POST" class="form-create-category")
            label(for="category_name_create") Category Name (required):
            input(
                type="text"
                id="category_name_create"
                name="category_name"
                class="form-control"
                required
                minLength="3"
            )

            input(
                type="submit"
                value="Create"
                class="btn btn-lg btn-primary btn-block"
            )

    figure.center
        figcaption= "Update Category"
        form(action="/categories/update" method="POST" class="form-create-category")
            label(for="category_id_update") Category to update:
            select(id="category_id_update" name="id" class="form-control")
                each c in categories
                    option(value=c._id)= c.category_name

            label(for="category_name_update") Category Name (required):
            input(
                type="text"
                id="category_name_update"
                name="category_name"
                class="form-control"
                required
                minLength="3"
            )

            input(
                type="submit"
                value="Update"
                class="btn btn-lg btn-primary btn-block"
            )

    figure.center
        figcaption= "Delete Category"
        form(action="/categories/delete" method="POST" class="form-create-category")
            label(for="category_id_delete") Category to delete:
            select(id="category_id_delete" name="id" class="form-control")
                each c in categories
                    option(value=c._id)= c.category_name

            input(
                type="submit"
                value="Delete"
                class="btn btn-lg btn-primary btn-block"
            )