doctype html
html
  head
      title= title || "Toy Shop"
      block scripts

  body
      header
        h1.center
            a(href="#")= "Toy Shop"

      main
        block content

      footer.center
        p.copyright &copy; #{(new Date()).getFullYear()} Toy Shop Inc.
